body {
    color: black;
    background-color: white;
/*    background-image: url("ressources/aboutme.jpg");*/
    overflow: scroll;
}

.fcontainer {
  padding-top: 5em;
}

.navbar-nav {
  position:sticky;
}

.myimage {
  align-content: center;
  align-items: center;
  text-align: center;
}

.imagecontainer {
  background-color:rgba(27, 190, 28, 0.66);
  align-content: center;
  align-items: center;
  text-align: center;
}

.infocontainer {
  background-color:rgba(25, 214, 169, 0.66);
  align-content: center;
  align-items: center;
  text-align: center;
}

.dformation {
  align-content: center;
  align-items: center;
  text-align: center;
}

.mformation {
  background-color: rgba(20, 96, 175, 0.65);
  align-content: center;
  align-items: center;
  text-align: center;
  margin-right: 3%;
  margin-left: 3%;
}

.dcompetences {
  align-content: center;
  align-items: center;
  text-align: center;
}

.mcompetences {
  background-color: rgba(20, 96, 175, 0.65);
  align-content: center;
  align-items: center;
  text-align: center;
  margin-right: 3%;
  margin-left: 3%;
}

.dqualites {
  align-content: center;
  align-items: center;
  text-align: center;
}

.mqualites {
  background-color: rgba(20, 96, 175, 0.65);
  align-content: center;
  align-items: center;
  text-align: center;
  margin-right: 3%;
  margin-left: 3%;
}

.mtitle {
  background-color: rgba(255, 255, 255, 0);
  align-content: center;
  align-items: center;
  text-align: center;
}

p {
  color: white;
}

.info {
  color: white;
  font-size: 115%;
}

.linfo {
  color: white;
  font-size: 115%;
  font-family: 'Courier New', sans-serif;
}

.minfo {
  color: white;
  font-size: 175%;
  font-family: Tahoma, sans-serif;
}

.what {
  position: absolute;
  margin-left: 0%;
}

.binfo {
  color: black;
  background-color: black;
  border: none;
}

.btn-primary {
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    width: 40%;
    height: 5%;
    font-size: 250%;
    font-weight: bold;
    font-family: Garamond, sans-serif;
    background-color: rgba(55, 160, 212, 0.81);
}
