body {
    color: black;
    background-color: white;
/*    background-image: url("ressources/aboutme.jpg");*/
}

.myimage {
  align-content: center;
  align-items: center;
  text-align: center;
}

.imagecontainer {
  background-color:rgba(27, 190, 28, 0.66);
  align-content: center;
  align-items: center;
  text-align: center;
}

.infocontainer {
  background-color:rgba(25, 214, 169, 0.66);
  align-content: center;
  align-items: center;
  text-align: center;
}

.dformation {
  background-color:rgba(25, 214, 169, 0.66);
  align-content: center;
  align-items: center;
  text-align: center;
}

.dcompetences {
  background-color:rgba(25, 214, 169, 0.66);
  align-content: center;
  align-items: center;
  text-align: center;
}

.dqualites {
  background-color:rgba(25, 214, 169, 0.66);
  align-content: center;
  align-items: center;
  text-align: center;
}

p {
  color: white;
}

.info {
  color: black;
}

.linfo {
  color: black;
  font-size: 135%;
  font-family: 'Courier New', sans-serif;
}

.pinfo {
  color: blue;
  font-size: 300%;
  font-weight: bold;
  font-family: Garamond, sans-serif;
}

.what {
  position: absolute;
  margin-left: 0%;
}

.binfo {
  color: black;
  background-color: black;
  border: none;
}

.button {
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    width: 15%;
    height: 15%;
}
