#main {
  align-content: center;
  align-items: center;
  margin-left: 15%;
  margin-right: 15%;
  position: relative;
  padding: 3.8em 3.8em 3.8em 3.8em;
}

#sub {
  align-content: center;
  align-items: center;
  margin-left: 16%;
  margin-right: 17%;
  position: relative;
  padding: 3.8em 3.8em 3.8em 3.8em;
}

#troll {
  position: absolute;
  bottom: 0%;
  right: 1%;
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: currentColor;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(0, 0, 0);
}

.affix {
    top: 0;
    width: 100%;
}

.affix + .container-fluid {
    padding-top: 70px;
}

body {
    color: black;
    background-color: white;
    background-image: url("ressources/wallpaper.jpg");
}

.button {
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    width: 32%;
    height: 150px;
}

.button1 {
    vertical-align: middle;
    background-color: rgba(53, 144, 218, 0.77);
    color: black;
}

.button1:hover {
    background-color: transparent;
    color: black;
}

.button2 {
    vertical-align: middle;
    background-color: rgba(53, 144, 218, 0.77);
    color: black;
}

.button2:hover {
    background-color: transparent;
    color: black;
}

.button3 {
    vertical-align: middle;
    background-color: rgba(53, 144, 218, 0.77);
    color: black;
}

.button3:hover {
    background-color: transparent;
    color: black;
}

.button4 {
    vertical-align: middle;
    background-color: rgba(53, 144, 218, 0.77);
    color: black;
}

.button4:hover {
    background-color: transparent;
    color: black;
}
.button5 {
    vertical-align: middle;
    background-color: rgba(53, 144, 218, 0.77);
    color: black;
}

.button5:hover {
    background-color: transparent;
    color: black;
}
.button6 {
    vertical-align: middle;
    background-color: rgba(53, 144, 218, 0.77);
    color: black;
}

.button6:hover {
    background-color: transparent;
    color: black;
}

.search {
    width: 33%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('ressources/searchicon.png');
    background-position: 5px 3px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.search:focus {
    width: 100%;
}
