#main {
  align-content: center;
  align-items: center;
  margin-left: 20%;
  margin-right: 20%;
  position: relative;
  padding: 3.8em 3.8em 3.8em 3.8em;
}

body {
    color: black;
    background-color: white;
    background-image: url("ressources/wallpaper.jpg");
}

.button {
    border: none;
    padding: 0px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    width: 32%;
    height: 150px;
}

.button1 {
    vertical-align: middle;
    background-color: rgba(53, 144, 218, 0.77);
    color: black;
}

.button1:hover {
    background-color: transparent;
    color: black;
}

.button2 {
    vertical-align: middle;
    background-color: rgba(53, 144, 218, 0.77);
    color: black;
}

.button2:hover {
    background-color: transparent;
    color: black;
}

.button3 {
    vertical-align: middle;
    background-color: rgba(53, 144, 218, 0.77);
    color: black;
}

.button3:hover {
    background-color: transparent;
    color: black;
}

.button4 {
    vertical-align: middle;
    background-color: rgba(53, 144, 218, 0.77);
    color: black;
}

.button4:hover {
    background-color: transparent;
    color: black;
}
.button5 {
    vertical-align: middle;
    background-color: rgba(53, 144, 218, 0.77);
    color: black;
}

.button5:hover {
    background-color: transparent;
    color: black;
}
.button6 {
    vertical-align: middle;
    background-color: rgba(53, 144, 218, 0.77);
    color: black;
}

.button6:hover {
    background-color: transparent;
    color: black;
}
